<h2>Create New Figures</h2>

<form action="/figures" method="POST">
  <label for="figure_name">Figure Name</label>
  <input type="text" name="figure[name]" id="figure_name"> </br>

  <label><h4>Titles</h4></label>
  <% Title.all.each do |title| %>
  <label><%= title.name %></label>
  <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>"><br>

  <% end %>

  <label><h4>Create New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">

  <label> <h4>Landmarks</h4> </label>
  <% Landmark.all.each do |landmark| %>
    <label><%=landmark.name%> </label>
    <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
  <% end %>

  <label> <h4> Create New Landmark:</h4></label>
    <label>Name:</label>
    <input type="text" id="new_landmark" name="landmark[name]">
    <label>Year</label>
    <input type="text" name="landmark[year_completed]">
    <input type="submit" value="Create New Figure">
</form>



<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
